<connectionStrings>
  <!--<add name="ToDoEntities" connectionString="metadata=res://*/ToDo.csdl|res://*/ToDo.ssdl|res://*/ToDo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=ToDo;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="ToDoEntities1" connectionString="metadata=res://*/ToDo.csdl|res://*/ToDo.ssdl|res://*/ToDo.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="ToDoEntities2" connectionString="metadata=res://*/TodoModels.csdl|res://*/TodoModels.ssdl|res://*/TodoModels.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=ToDo;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  <add name="TodosEntities" connectionString="metadata=res://*/TodoModel.csdl|res://*/TodoModel.ssdl|res://*/TodoModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=Todos;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  <add name="TodosEntities1" connectionString="metadata=res://*/Todo.csdl|res://*/Todo.ssdl|res://*/Todo.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=SQL5074.site4now.net;Initial Catalog=db_a81d77_todoapi2669;User Id=db_a81d77_todoapi2669_admin;Password=Berserker34&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>
